.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  width: 800px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

mat-form-field {
  width: 100%;
  margin: 5px 0px 0px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.showPasswordBtn {
  background: none;
  border: none;
}

.submitBtn {
  background: rgb(3, 146, 194);
  padding: 10px 50px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.submitBtn:hover {
  cursor: pointer;
  color: rgb(3, 146, 194);
  background: transparent;
  border: 1px solid rgb(3, 146, 194);
}